# Secrets

POSTGRES_PASSWORD=fz9p7c553BqpS7xT
JWT_SECRET=xIci7y1qPQQfBNRyLni8QdjGLH4og2r6

# Auth

## General
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=3600
DISABLE_SIGNUP=false

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=support@example.com
SMTP_HOST=smtp.mandrillapp.com
SMTP_PORT=587
SMTP_USER=smtp-delivery@example.com
SMTP_PASS=correcthorsebatterystaple
SMTP_SENDER_NAME=admin

## Phone auth
ENABLE_PHONE_SIGNUP=false
ENABLE_PHONE_AUTOCONFIRM=false

# Ports

## API endpoint ports
KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443

## DB port
POSTGRES_PORT=5432
